@model List<CeramicBarn.Domain.Product>
@{
    ViewBag.Title = "Ceramic Barn";
}

<div class="jumbotron">
    <h1>C E R A M I C  B A R N</h1>
</div>
<div class="row">
    <table style="width: 100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Department</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Department</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>